@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Variables */

    /* Colors */
    --primary-100: #F26CF9;
    --primary-90: #F589FA;
    --primary-50: #FCD3FE;
    --primary-40: #FCE2FE;
    --primary-30: #FDEDFE;

    --secondary-110: #1C2346;
    --secondary-100: #37437D;
    --secondary-90: #5562A2;

    --yellow-100: #FFCA39;
    --yellow-90: #FFEFC3;

    --grey-10: #FFFFFF;
    --grey-20: #F7F7F7;
    --grey-30: #EDEDED;
    --grey-40: #E0E0E1;
    --grey-50: #C3C3C4;
    --grey-60: #9F9FA1;
    --grey-70: #777779;

    --cool-grey-10: #EEEFFF;
    --cool-grey-20: #E4E5F5;

    /*Typography*/

    --h1: 32px;
    --h2: 28px;
    --h3: 26px;
    --h4: 24px;
    --h5: 22px;
    --h6: 20px;

    --body-22: 22px;
    --body-20: 20px;
    --body-18: 18px;
    --body-16: 16px;
    --body-14: 14px;
    --body-12: 12px;
    --body-10: 10px;

    --bold: 700;
    --semi-bold: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.btn {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-btn {
    padding-block: 1rem;
    font-size: var(--body-14);
    background-color: var(--primary-100);
    border-radius: 1rem;
    color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: var(--primary-90);
    }
}

.login-btn {
    padding-block: 1rem;
    font-size: var(--body-14);
    background-color: var(--grey-70);
    border-radius: 1rem;
    color: white;

    &:hover {
        background-color: var(--grey-60);
    }
}


.mobile-menu {
    max-width: 2rem;
    max-height: 2rem;
    cursor: pointer;

    @media (width > 768px) {
        display: none;
    }
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

.event-card {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding-bottom: .5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 300px;
    min-height: 325px;
    max-height: 325px;

    .event-image {
        min-height: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--grey-30);
    }

    .event-info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .event-title {
            font-size: var(--body-22);
            font-weight: var(--bold);
        }

        .event-type {
            font-size: var(--body-16);
        }

        .event-location,
        .event-price,
        .event-date {
            font-size: var(--body-14);
            font-weight: lighter;
        }
    }

    .btn {
        width: 50%;
        margin: auto;

    }
}

.dashboard-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    max-height: calc(100vh - 2rem);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-30);

    ul {
        list-style: none;

        li {
            margin: 1rem 0 3rem 0;

        }

    }

    .login-btn {
        margin-top: auto;

    }

    .nav-item {
        text-decoration: none;
        color: inherit;
        border-left: 8px solid transparent;
        transition: border-color 0.3s ease;

        &.active {
            color: var(--primary-100);
            border-left-color: 8px solid var(--primary-100);
        }

        &:hover {
            color: var(--primary-100);
            border-left-color: var(--primary-100);
        }

        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
}

.welcome-msg{
    max-width: 15ch;
    text-align: center;
}

.site-title {
    grid-area: header;
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
}


.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "nav header"
        "nav events"
    ;
    min-height: 100vh;
    padding-top: 1rem;
    gap: 1rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    .dashboard-nav-container {
        grid-area: nav;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    .title-section {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1rem;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    .event-content {
        grid-area: events;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
        overflow-y: scroll;
        max-height: calc(100vh - 200px);
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    max-width: 450px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: var(--cool-grey-20);
    margin: 5rem auto;
    padding: 2rem;

    @media (max-width: 768px) {
        border-radius: 0;
        background-color: transparent;
        border: none;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1rem;

        input {
            height: 2.5rem;
            border-radius: .5rem;
            padding-inline: 1rem;
            border: none;

            @media (max-width: 768px) {
                border: 1px solid black;
            }
        }

    }

    h1 {
        font-size: var(--h1);
        text-align: center;
        font-weight: var(--semi-bold);
    }

    button {
        margin-top: 2rem;
    }
}



@media (max-width: 768px) {
    .hidden {
        display: none;
    }
}

.terms-and-conditions {
    display: flex;
    align-items: center;

    span {
        padding-inline: 1rem;
    }
}

.more-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    h1 {
        text-align: center;
    }

    button {
        width: 50% !important;
        margin-bottom: 2rem;
    }
}


.more-info-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 0 1.5rem;
    }

    @media (max-width: 480px) {
        padding: 0 1rem;
    }
}

.more-info-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    text-align: left;
    padding-left: 4rem;
    font-size: var(--body-16);
    font-style: italic;
    margin-bottom: 2rem;

    span {
        color: rgb(94, 93, 93);
        text-decoration: none;
    }
}

.more-info-img {
    display: block;
    border-radius: 5rem;
    height: 400px;
    width: 100%;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.event-id {
    font-size: var(--body-18);
    color: grey;
    font-weight: 300;
}

.back-to-events {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: var(--body-20);

    span {
        display: block;

        img {
            height: 3rem;
            width: 3rem;
        }

    }
}

.terms-and-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.book-and-pay {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: .5rem;

    input {
        height: 2rem;
    }
}

.success-wrapper {
    margin: 5rem auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;

    p {
        color: green;
        font-size: var(--body-18);
    }
}

.support {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

.wrapper-homepage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 2rem;

    img {
        height: 6rem;
        margin-bottom: 2rem;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 50%;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
            width: 45%;
        }
    }

    h2 {
        font-size: var(--h1);
        text-align: center;
        margin-bottom: 5rem;
    }

    p {
        font-size: var(--body-14);
    }

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 0 1.5rem;
    }
}